.my-container {
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.1);
    width: 1120px;
}

.my-tab {
    padding-top: 30px;
}

.my-btn {
    margin-top: 5px;
    margin-left: 10px;
    color: #345578;
}

.jumbotron .my-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.center {
    margin: 0 auto
}

.parent-center {
    text-align: center;
}

.page-canvas {
    width: 800px;
    margin: 0 auto;
}

.page-canvas .my-input {
    width: 600px;
}

.page-canvas .my-sign-in-input {
    width: 250px;
}

.page-canvas h2 {
    padding: 40px 0 20px 0;
}

.page-canvas .my-btn {
    margin: 20px 0;
}

.footer-container {
    padding-top: 40px;
}